In [1]:
import numpy as np

import syft as sy
from syft.core.adp.entity import Entity

In [2]:
raw_data = np.random.choice([0, 1], size=(10), p=[0.3, 0.7]).astype(np.int32)

In [3]:
raw_data

array([0, 1, 1, 1, 0, 1, 0, 0, 1, 0], dtype=int32)

In [4]:
dataset = {}

for person_index, test_result in enumerate(raw_data):
    data_owner = Entity(name=f'Patient #{person_index}')
    dataset[person_index] = sy.Tensor(np.ones(1, dtype=np.int32) * test_result).private(min_val=0, max_val=1, entities=data_owner)

In [5]:
dataset

{0: Tensor(child=SingleEntityPhiTensor(entity=Patient #0, child=[0])),
 1: Tensor(child=SingleEntityPhiTensor(entity=Patient #1, child=[1])),
 2: Tensor(child=SingleEntityPhiTensor(entity=Patient #2, child=[1])),
 3: Tensor(child=SingleEntityPhiTensor(entity=Patient #3, child=[1])),
 4: Tensor(child=SingleEntityPhiTensor(entity=Patient #4, child=[0])),
 5: Tensor(child=SingleEntityPhiTensor(entity=Patient #5, child=[1])),
 6: Tensor(child=SingleEntityPhiTensor(entity=Patient #6, child=[0])),
 7: Tensor(child=SingleEntityPhiTensor(entity=Patient #7, child=[0])),
 8: Tensor(child=SingleEntityPhiTensor(entity=Patient #8, child=[1])),
 9: Tensor(child=SingleEntityPhiTensor(entity=Patient #9, child=[0]))}

In [6]:
domain_node = sy.login(email="info@openmined.org", password="changethis", port=8081)
domain_node.load_dataset(assets=dataset, name="COVID19 Test Results", description="Positive/Negative COVID19 Test results", metadata="No metadata")

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to http://localhost:8081... done! 	 Logging into un... done!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

In [7]:
domain_node.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget": 100
    }
)

In [8]:
domain_node.users

In [9]:
domain_node.datasets

In [10]:
dataset = domain_node.datasets[0]

In [11]:
dataset

Dataset: COVID19 Test Results
Description: Positive/Negative COVID19 Test results

## **Being a Data Scientist**

In [12]:
data_scientist = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into un... done!

In [13]:
data_scientist.datasets

In [14]:
# Let's get a pointer to the dataset
dataset = data_scientist.datasets[0]
dataset

Dataset: COVID19 Test Results
Description: Positive/Negative COVID19 Test results

In [15]:
print(dataset)

<syft.core.node.common.client_manager.dataset_api.Dataset object at 0x7f15b1d7c1c0>

In [24]:
results = [dataset[f'{i}'] for i in range(10)]

total_cases = 0
from time import sleep
for result in results:
    ptr = result.publish()
    sleep(5)
    total_cases += ptr.get()

print(f'The total number of COVID19 cases are: {total_cases[0]}')

The total number of COVID19 cases are: -0.07864587845576887

In [21]:
domain_node.users